/*
This styles in this file are not exported; they are only used in the context of
Storybook. Nothing in this file will end up in your application, but it does
serve as an example of how to use the supplied Sass mixins.
*/

// This doesn’t directly import any styles, only mixins
@import '../src/scss/caligram-react';

// Redeclare variables if necessary
$normal-weight: 300;
$bold-weight: 600;

// Add ugly styles to make sure our own styles correctly override them

body {
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-family: 'Comic Sans MS', 'Papyrus', 'Times New Roman';
}
  
h1, h2, h3, h4, h5, h6 {
  font-size: 100px;
  color: green;
  border-bottom: 2px solid green;
  padding: 15px;
  margin: 15px 0;
  background-color: #ccc;
  text-transform: uppercase;
}

th, td {
  text-align: left;
}

li {
  padding: 20px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAQMAAACTPww9AAAAA1BMVEUAAACnej3aAAAAC0lEQVQIHWNggAAAAAgAAUC9Q1kAAAAASUVORK5CYII=') no-repeat;
  background-position: 0 50%;
}

a {
  color: red;
  text-decoration: underline;
  border-bottom: 1px solid red;
}

p, button, input {
  font-size: 6px;
}

// Manually un-unglify Storybook Info Addon stuff
div#root > div > div:not(:first-child) {
  text-align: left;
  
  h1, h2, h3, h4, h5, h6 {
    @include reset;
  }
  
  h1 {
    font-weight: $bold-weight;
  }
  
  h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

// Load the actual styles
@include caligram-react;
