@mixin ActiveFilters {
  .ActiveFilters.inline {
    @include reset;
    @include clearfix;
    
    .clear {
      display: block;
      margin-top: 8px;
      clear: both;
      
      .SelectableLabel {
        @include small-text;
        width: auto;
        display: inline;
        padding: 0;
        margin-left: 18px;
        border-bottom: $border-width solid rgba($text-color, 0.1);
        
        svg {
          left: -22px;
          right: auto;
          padding: 0;
          path, polygon {
            fill: $text-color;
          }
        }
        
        &:hover {
          border-bottom-color: rgba($primary-color, 0.25);
          
          svg {
            path, polygon {
              fill: $primary-color;
            }
          }
        }
      }
    }
  }
}
