@mixin Button {
  .Button {
    @include reset;
    @include normal-text;
    @include focus;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    font-weight: $bold-weight;
    line-height: 19px;
    transition: opacity 0.2s, color 0.2s, background-color 0.2s, border-color 0.2s;
    border-radius: $border-radius;
    
    &.small {
      @include small-text;
      line-height: 16px;
      
      &.primary, &.secondary {
        padding: 6px 8px;

        @include tablet {
          padding: 8px 14px;
        }
      }
    }

    &.primary, &.secondary {
      padding: 7px 10px;

      @include tablet {
        padding: 9px 16px;
      }

      &:active {
        color: white;
        background-color: darken($primary-color, 20%);
        border-color: darken($primary-color, 20%);
      }
    }

    &.primary {
      background-color: $primary-color;
      border: $border-width solid $primary-color;
      color: white;

      svg {
        polygon, path {
          transition: fill 0.2s;
          fill: white;
        }
      }

      &:hover {
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);

        svg {
          polygon, path {
            fill: white;
          }
        }
      }
    }

    &.secondary, &.borderless {
      background-color: transparent;
      color: $primary-color;

      svg {
        polygon, path {
          transition: fill 0.2s;
          fill: $primary-color;
        }
      }
    }

    &.secondary {
      border: $border-width solid rgba($primary-color, 0.2);

      &:hover {
        color: white;
        background-color: $primary-color;
        border-color: $primary-color;

        svg {
          polygon, path {
            fill: white;
          }
        }
      }
    }

    &.borderless {
      border: none;
      background-color: transparent;

      &:hover span {
        border-bottom: $border-width solid $primary-color;
      }
    }

    &:not(.hideTitle) {
      &.iconLeft, &.small.iconLeft {
        padding-left: 32px;
  
        svg {
          left: 8px;
        }
      }
  
      &.iconRight, &.small.iconRight {
        padding-right: 32px;
  
        svg {
          right: 8px;
  
          &:last-child {
            left: auto;
          }
        }
      }

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.hideTitle {
      line-height: 0;
    }

    &.fit {
      display: inline-block;
    }

    &.full {
      text-align: center;
      display: block;
    }

    &:focus {
      border-color: $primary-color;
    }

    &[disabled] {
      border-color: $lighter-gray;
      color: $light-gray;
      cursor: default;

      &:hover {
        background-color: transparent;
        border-color: $lighter-gray;
        color: $light-gray;

        svg {
          polygon, path {
            fill: $light-gray;
          }
        }
      }

      svg {
        polygon, path {
          fill: $light-gray;
        }
      }
    }
  }
}
