@mixin Calendar {
  $header-height: 2.25rem;
  
  .CalendarContainer {
    @include reset;
    position: relative;
    
    & > button {
      @include focus;
      font-size: inherit;
      position: absolute;
      border: 0;
      background-color: transparent;
      padding: 0 8px;
      margin: 0;
      height: $header-height;
      cursor: pointer;
      border-radius: $border-radius;
      
      &.next {
        right: 0;
      }
      
      &:hover {
        background-color: $primary-color;

        polygon, path {
          fill: white;
        }
      }
      
      svg {
        padding-top: 2px;
        
        polygon, path {
          fill: $primary-color;
        }
      }
    }
    
    .Calendar {
      @include small-text;
      border-collapse: collapse;
      padding: 0;
      margin: 1rem auto 0;
      line-height: 21px;
      width: 100%;
  
      tr {
        &.month-header {
          th {
            height: $header-height;
            color: $text-color;
            text-transform: capitalize;
          }
        }

        &.days-header {
          border-top: $border-width solid $border-color;
        
          th {
            padding: 8px 0 6px;
            color: #ccc;
          }
        }
      }
  
      th, td {
        width: 1/7 * 100%;
      
        button {
          @include focus;
          font-family: inherit;
          font-size: inherit;
          cursor: pointer;
          display: block;
          width: 100%;
          height: 100%;
          background-color: transparent;
          border: 0;
          font-weight: $bold-weight;
          margin: 0;
          padding: 6px 0;
          text-align: center;
          line-height: 21px;
          border-radius: $border-radius;
        }
      }
  
      th, td {
        text-align: center;
        padding: 0;
      
        button {
          color: $text-color;
        }
      }
    
      .Day {
        &:hover button {
          background: #eee;
          color: #000;
        }
  
        &.today button {
          background: $lighter-gray;
        }
  
        &.selected button {
          background: $primary-color;
          color: #fff;
        }
  
        &.other-month button {
          color: #e6e6e6;
        
          &.selected button {
            background: #ddd;
            color: #fff;
          }
        }
      }
    }
  }
}
