@mixin Checkbox {
  .Checkbox {
    @include reset;
    @include normal-text;

    :root & input[type=checkbox] {
      position: absolute;
      left: -1000em;
      
      &:focus + label {
        .box {
          @include focus-style;
          border: $border-width solid $primary-color;
        }
      }
    }

    label {
      cursor: pointer;
      user-select: none;
      
      &:active {
        .box {
          background-color: #ccc;
          border: $border-width solid rgba(black, 0.25);
          
          &.checked {
            background-color: red;
            background-color: darken($primary-color, 10%);
          }
        }
      }
      
      .box {
        transition: background-color 0.1s;
        display: inline-block;
        position: relative;
        top: 0.4em;
        width: 1.25em;
        height: 1.25em;
        margin-right: 0.6em;
        background-color: white;
        border: $border-width solid rgba(black, 0.15);

        &.checked {
          background-color: $primary-color;

          svg {
            path, polygon {
              fill: white;
            }
          }
        }

        svg {
          position: absolute;
        }
      }
    }
  }
}
