@mixin Col {
  .Col {
    // This could probably replace the grid mixin eventually
    $max-columns: 16;
    @include tablet {
      @for $column from 1 through $max-columns {
        @for $container from 1 through $max-columns {
          &.span-#{$column}.of-#{$container} {
            @include span($column of $container);

            &:last-child {
              @include last;
            }
          }
        }
      }
    }
  }
}
