@mixin EventDetailModernLayout {
  .EventDetail.modern {
    section.basics {
      @include responsive-container;
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 4em;
      }

      > * {
        margin-bottom: 1em;

        @include tablet {
          margin-bottom: 0;
        }
      }

      div.image {
        width: 100%;
        height: 0;
        padding-bottom: 100% * 9/16;
        background-size: cover;
        background-position: 50% 50%;
        position: relative;

        @include tablet {
          width: 100% * 2/3;
          height: 0;
          padding-bottom: 100% * 2/3 * 9/16;
        }

        time {
          position: absolute;
          top: 0;
          left: 2em;
          background-color: $primary-color;
          color: white;
          display: flex;
          flex-direction: column;
          text-align: center;
          padding: 1em;

          span.day {
            @include larger-text;
            font-weight: $bold-weight;
          }

          span.month {
            @include small-text;
          }
        }
      }

      .StaticMap {
        width: 100%;

        @include tablet {
          width: 100% * 1/3;
          order: 1;
        }

        a {
          @include mobile-only {
            padding-bottom: 100% * 9/16 !important; // Ugh
          }
        }
      }
      
      .tickets, .EventDate, .EventVenue {
        @include tablet {
          box-sizing: border-box;
          order: 2;
          width: 100% * 1/3;
          margin-top: 2em;
          padding-right: 2em;
        }
      }

      .tickets {
        @include normal-text;
        
        .Button {
          margin-bottom: 1em;
          
          @include tablet {
            display: inline-block;
          }
        }

        .EventPrice {
          p.notes {
            @include small-text;
          }
        }
      }
    }

    .detailsWrapper {
      background-color: $lightest-gray;
      padding-top: 2em;
      padding-bottom: 2em;

      @include tablet {
        padding-top: 4em;
        padding-bottom: 4em;
      }

      section.details {
        @include responsive-container;

        @include tablet {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        .description {
          @include tablet {
            box-sizing: border-box;
            width: 100% * 2/3;
            padding-right: 3em;
          }

          .extras {
            & > * {
              margin-top: 1em;
            }
          }
        }

        aside {
          @include small-text;

          @include tablet {
            width: 100% * 1/3;
          }

          > :first-child() {
            margin-top: 0;
          }

          .HeadingBlock {
            h1 {
              padding-top: 0;
              border-top: none;
              padding-bottom: 0.4em;
            }
          }
        }
      }
    }
  }
}
