@mixin EventDate {
  .EventDate {
    @include reset;
    @include normal-text;
    
    div.date {
      font-weight: $bold-weight;
      
      &:first-letter {
        text-transform: capitalize;
      }
    }

    div.notes {
      @include small-text;

      p, ul, ol {
        @include small-text;
      }
    }
    
    div.otherDates {
      @include small-text;
      margin-top: 6px;

      & > div > div > div {
        z-index: 1; // Ugly rule courtesy of react-responsive-dropdown
      }
      
      button.count {
        @include reset;
        @include small-text;
        @include focus;
        color: $primary-color;
        font-weight: $bold-weight;
        cursor: pointer;
        
        svg {
          position: relative;
          top: 0.25em;
          
          &.multipleDates {
            margin-right: 0.5em;
          }
          
          &.chevronDown {
            margin-left: 0.2em;
          }
          
          path, polygon {
            fill: $primary-color;
          }
        }
        
        &:hover {
          span {
            border-bottom: $border-width solid rgba($primary-color, 0.2);
          }
        }
      }

      span.range {
        color: $medium-gray;
        margin-left: 0.2em;
      }
    }
  }
  
  .Popover {
    ul.moreDates {
      @include no-bullets;
      @include small-text;
      @include links;
    
      li {
        a {
          position: relative;
          color: $text-color;
          display: block;
          padding: 3px 8px 3px 24px;
          cursor: pointer;
          
          &:hover {
            color: white;
            background-color: $primary-color;
          }
        }
        
        &.selected {
          a {
            color: $light-gray;
            
            &:hover {
              color: white;
              
              svg {
                polygon, path {
                  fill: white;
                }
              }
            }
            
            svg {
              position: absolute;
              left: 2px;
              
              polygon, path {
                fill: $light-gray;
              }
            }
          }
        }
      }
    }
  }
}
