@mixin EventVenue {
  .EventVenue {
    @include reset;
    @include normal-text;
    @include links($primary-color);

    div.name {
      font-weight: $bold-weight;
    }

    address {
      font-style: normal;
    }

    div.directions a {
      @include focus;
      font-weight: $bold-weight;
      border-bottom: $border-width solid rgba($primary-color, 0.15);

      &:hover {
        border-bottom-color: $primary-color;
      }
    }
  }
}
