@mixin EventDetail {
  .EventDetail.classic {
    div.basicsWrapper {
      background-color: $lightest-gray;
    }
    
    section.basics {
      @include normal-text;
      
      @include with-layout('', true) {
        @include responsive-container;
      }
      
      .EventDate, .EventVenue {
        padding: 15px 0;
        
        @include tablet {
          @include span(4 of 12);
        }
      }
      
      .StaticMap {
        $container-width: map-get($mobile-layout, 'container');
        $margin: -(100% - $container-width) / 2 * (100% / $container-width);
        margin-left: $margin;
        margin-right: $margin;
        
        @include tablet {
          @include span(last 4 of 12);
          padding-bottom: 0;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    section.details {
      @include with-layout('', true) {
        @include responsive-container;
      }
      padding-top: 20px;
      
      aside {
        @include span(full);
        @include small-text;
        
        p {
          margin: 10px 0;
        }

        .Button + .Button {
          margin-top: 10px;
        }
  
        @include tablet {
          @include span(4 of 12 first);
        }
  
        .EventImage {
          display: none;
  
          @include tablet {
            display: block;
            margin-bottom: 20px;
          }
        }
      }
      
      div.description {
        @include span(full);
  
        @include tablet {
          @include span(8 of 12 last);
        }
  
        .EventImage {
          display: block;
          margin-bottom: 20px;
  
          @include tablet {
            display: none;
          }
        }
        
        .extras {
          .HeadingBlock {
            display: block;
            
            @include tablet {
              display: inline-block;
            }
            
            &.tags h1 {
              display: none;
            }
            
            &.share, &.save {
              margin-top: 1em;
              float: right;
              margin-left: 2.5em;
              
              @include tablet {
                margin-top: 0;
              }
            }
            
            h1 {
              @include small-text;
              font-weight: $normal-weight;
            }
            
            .SelectableLabel {
              @include small-text;
            }
          }
        }
      }
    }
  }
}
