@mixin EventListItem {
  .EventListItem {
    @include reset;
    @include links;
    
    @include with-layout('', true) {
      @include span(full);
    }

    margin-bottom: 20px;

    a {
      @include clearfix;
      @include focus;
      color: $text-color;
      display: block;

      img {
        float: left;
        width: 100px;
        margin-right: 1rem;
      }

      time {
        @include small-text;
        font-weight: $bold-weight;
        color: $medium-gray;
      }

      h1 {
        @include reset;
        @include large-text;
        font-weight: $normal-weight;
      }

      p.venue {
        @include small-text;
        margin: 0;
      }

      &:hover {
        h1 {
          color: $primary-color;
        }
      }
    }

    &.grid {
      @include with-layout('', true) {
        @include grid;
      }
    }

    &.carousel {
      @include with-layout('', true) {
        @include grid(false);
      }

      float: none !important;
      display: inline-block;
      white-space: normal;
    }

    &.grid, &.carousel {
      @include focus;
      background-size: cover;
      background-position: 50% 50%;
      margin-bottom: 5.5%;
      overflow: auto;
      
      @include tablet {
        margin-bottom: gutter();
      }
      
      a {
        display: block;
        height: 0;
        padding-bottom: 1/$event-list-item-ratio * 100%;
        background-image: linear-gradient(-180deg, rgba(black, 0) 30%, rgba(black, 0.7) 90%);
        overflow: auto;
        position: relative;
        transition: background-color 0.1s;

        &:hover {
          background-color: rgba(black, 0.2);
        }

        div.info {
          position: absolute;
          width: 90%;
          bottom: 15px;
          margin-left: 15px;
        }

        time {
          @include small-text;
          position: absolute;
          display: inline-block;
          color: white;
          background-color: $primary-color;
          padding: 6px 10px;
          font-weight: $bold-weight;

          @include tablet {
            padding: 8px 12px;
          }
        }

        h1 {
          @include large-text;
          color: white;
          font-weight: $normal-weight;
          margin: 5px 0;
        }

        .venue {
          @include small-text;
          color: white;
          font-weight: $bold-weight;
        }
      }
      
      &.small {
        a {
          time {
            @include smaller-text;
            padding: 5px 10px;

            @include tablet {
              padding: 6px 10px;
            }
          }
          
          div.info {
            width: 90%;
            bottom: 8px;
            margin-left: 10px;
          }

          h1 {
            @include normal-text;
            margin: 3px 0;
          }
          
          .venue {
            @include smaller-text;
          }
        }
      }
    }
  }
}
