@mixin EventPrice {
  .EventPrice {
    @include reset;
    
    span.label {
      font-weight: $bold-weight;
    }
    
    ul.prices {
      @include no-bullets;
    }
    
    p {
      font-size: inherit;
    }
  }
}
