@mixin EventList {
  .EventList {
    @include reset;
    @include clearfix;

    h2 {
      @include reset;
      @include larger-text;
      padding-bottom: 15px;
      
      @include desktop {
        padding-bottom: 25px;
      }
    }

    &.loading {
      .events {
        opacity: 0.3;
      }
    }

    .ActiveFilters {
      margin-bottom: 25px;
    }

    section {
      @include clearfix;
      margin-bottom: 25px;

      header {
        @include medium-text;
        margin-bottom: 18px;
        padding-top: 14px;
        border-top: $border-width solid $lighter-gray;
        color: $light-gray;
        font-weight: $bold-weight;
        clear: both;
      }
    }

    p.empty {
      @include normal-text;
      color: $light-gray;
    }
  }

  .carousel {
    position: relative;
    
    .events {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
  
      &::-webkit-scrollbar-track {
        background-color: rgba(black, 0.04);
      }
  
      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background-color: rgba(black, 0.04);
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: rgba(black, 0.1);
  
        &:hover {
          background-color: rgba(black, 0.3);
        }
      }
    }
    
    nav {
      .Button {
        position: absolute;
        top: 36%;
        background-color: white;
        border: 0;
        padding: 10px;
//        width: 36px;
//        height: 36px;
        
        &.prev {
          left: 0;
        }
        
        &.next {
          right: 0;
        }
        
        svg {
//          width: 22px;
//          height: 22px;
        }
      }
    }
  }
}
