@mixin EventMedia {
  .EventMedia {
    &.carousel {
      nav {
        display: flex;
        align-items: flex-start;
        margin: 10px -5px 0;

        button {
          cursor: pointer;
          flex: 1 1 0px;
          border: none;
          padding: 0;
          margin: 0 5px;

          &.current {
            opacity: 0.4;
          }
        }
      }
    }
  }
}
