@mixin extends {
  %text-body {
    @include medium-text;

    p, ul, ol {
      @include medium-text;
      margin: 0 0 9px;
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    li {
      @include medium-text;
      padding: 0;
      background-image: none;
    }

    img {
      max-width: 100%;
    }

    a {
      border-bottom: $border-width solid rgba($primary-color, 0.2);

      &:hover {
        border-bottom-color: $primary-color;
      }
    }
  }
}
