@mixin HeadingBlock {
  .HeadingBlock {
    @include reset;
    margin: 24px 0;
    
    @include tablet {
      margin: 30px 0;
    }
    
    &.inline {
      display: inline-block;
      margin: 0;

      h1 {
        display: inline-block;
        border-top: none;
        margin-right: 1em;
      }
      
      > div {
        display: inline-block;
      }
    }

    h1 {
      @include reset;
      @include normal-text;
      border-top: $border-width solid $border-color;
      padding: 10px 0;
      color: $heading-block-color;
      font-weight: $bold-weight;
      
      svg {
        float: left;
        margin-right: 10px;
        
        polygon, path {
          fill: $heading-block-color;
        }
      }
    }
  }
}
