@mixin MapMarker {
  .MapMarker {
    position: relative;
    padding: 0 6px 12px;
    display: inline-block;
    transform: translate(-50%, -60%);
    
    &.interactive {
      cursor: pointer;

      &:hover {

        svg.pin {
          path, polygon {
            fill: darken($primary-color, 10%);
          }
        }
      }
    }

    .Popover {
      max-height: 390px;
      padding: $map-marker-event-spacing;
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    .EventListItem {
      margin-bottom: 0;
      
      & + .EventListItem {
        margin-top: $map-marker-event-spacing;
      }
    }
    
    svg.pin {
      path, polygon {
        fill: $primary-color;
      }
    }
  }
}
