@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin reset() {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: none;
  background-color: transparent;
  font-family: $body-font;
  font-weight: $normal-weight;
  text-transform: none;
  color: inherit;
  text-align: left;
  font-size: inherit;
  line-height: inherit;
}

@mixin text-size($mobile-size, $desktop-size) {
  font-size: map-get($font-sizes, $mobile-size);
  line-height: map-get($line-heights, $mobile-size);

  @include desktop {
    font-size: map-get($font-sizes, $desktop-size);
    line-height: map-get($line-heights, $desktop-size);
  }
}

@mixin smaller-text() {
  @include text-size('smallest', 'smaller');
}

@mixin small-text() {
  @include text-size('smaller', 'small');
}

@mixin normal-text() {
  @include text-size('small', 'normal');
}

@mixin medium-text() {
  @include text-size('normal', 'medium');
}

@mixin large-text() {
  @include text-size('medium', 'large');
}

@mixin larger-text() {
  @include text-size('large', 'larger');
}

@mixin largest-text() {
  @include text-size('larger', 'largest');
}

@mixin links($color: "") {
  a {
    text-decoration: none;
    border-bottom: none;
    
    @if $color != "" {
      color: $color;
      
      &:hover {
        border-bottom: $border-width solid rgba($color, 0.2);
      }
      
      &:active {
        border-bottom-color: rgba($color, 0.8);
      }
    } @else {
      color: inherit;
    }
  }
}

@mixin responsive-container() {
  @include container($mobile-layout);
  
  @include tablet {
    @include container($tablet-layout);
  }

  @include desktop-large {
    @include container($desktop-large-layout);
  }
}

@mixin grid($wrap: true) {
  $max-columns: 16;
  @include span(4 of 4);

  @if $wrap == false {
    margin-right: 5%;

    &:last-child {
      margin-right: 0;
    }
  }

  @include tablet {
    @for $column from 1 through $max-columns {
      @for $container from 1 through $max-columns {
        // Only create rules when the number of columns in the container is an integer
        @if $container % $column == 0 {
          .columns-#{$column}.container-#{$container} & {
            @include span($container/$column of $container);

            @if $wrap {
              &:nth-child(#{$column}n) {
                @include last;
              }
            } @else {
              &:last-child {
                @include last;
              }
            }
          }
        }
      }
    }
  }
}

@mixin grid-no-gutter() {
  $max-columns: 16;
  @include span(full);

  @include tablet {
    @for $column from 1 through $max-columns {
      .columns-#{$column} & {
        @include span(1 of $column inside no-gutter);

        @if $column > 1 {
          &:nth-child(#{$column}n) {
            @include last;
          }
        }
      }
    }
  }
}

@mixin breakpoint($min-width) {
  @media only screen and (min-width : $min-width) {
    @content
  }
}

@mixin tablet() { @include breakpoint($tablet) { @content } }
@mixin desktop() { @include breakpoint($desktop) { @content } }
@mixin desktop-large() { @include breakpoint($desktop-large) { @content } }

@mixin mobile-only {
  @media only screen and (max-width : $tablet - 1px) {
    @content
  }
}

@mixin no-bullets() {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    background-image: none;
  }
}

@mixin focus-style() {
  outline: 2px solid rgba($primary-color, 0.4);
  box-shadow: 0 0 4px 3px rgba($primary-color, 0.3);
}

@mixin focus() {
  &:focus, &:focus-within {
    @include focus-style;
  }
}
