@mixin Page {
  .Page {
    @include reset;
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 60px;
    }

    header {
      @include responsive-container;
      padding: 40px 0;
      
      @include desktop {
        padding: 60px 0;
      }
      
      .Button {
        @include small-text;
        position: relative;
        top: -2.5em;
        padding-left: 24px;
        
        svg {
          left: 0;
        }
      }
      
      h1 {
        @include reset;
        @include largest-text;
        font-family: $heading-font;
        text-align: center;
        margin: 10px 0;
      }
      
      h2 {
        @include reset;
        @include large-text;
        font-family: $heading-font;
        text-align: center;
        margin: 10px 0;
        color: $medium-gray;
        
        .SelectionList {
          text-align: center;
        }
      }
    }
    
    section.content {
      @include responsive-container;
      @extend %text-body;
      
      &.narrow div.body {
        @include tablet {
          @include span(8);
          @include push(2);
        }
      }
    }
  }
}
