@mixin Pagination {
  .Pagination {
    @include clearfix;
    margin-top: 20px;
    
    @include tablet {
      margin-top: 30px;
    }

    .Button {
      &.previous {
        float: left;
      }

      &.next {
        float: right;
      }
    }
  }
}
