@mixin SearchBar {
  .SearchBar {
    @include reset;
    
    .icon-wrapper {
      position: relative;

      .icon {
        position: absolute;
        left: 13px;
        top: 12px;
        z-index: 1;
      }
    }

    input {
      @include normal-text;
      font-family: inherit;
      width: 100%;
      width: calc(100% - 4px);
      padding: 6px 10px 6px 40px;
      margin: 2px;
      border: none;
      box-shadow: 0 0 0 $border-width rgba(black, 0.1);
      line-height: 26px;
      border-radius: 0;
      box-sizing: border-box;
      
      @include tablet {
        padding: 8px 10px 8px 42px;
      }

      &:focus {
        box-shadow: 0 0 0 $border-width $primary-color;
      }
    }

    button {
      display: none;
    }

    li {
      padding: 0;
      background-image: none;
    }

    .container {
      position: relative;
      margin: 0 auto;
    }

    .containerOpen .suggestionsContainer {
      @include normal-text;
      box-sizing: border-box;
      position: absolute;
      z-index: 1000;
      width: 100%;
      margin: 0 2px;
      background-color: white;
      text-align: left;
      box-shadow: 0 0 0 $border-width rgba(black, 0.1);
      padding: 4px;

      @include tablet {
        min-width: 550px;
      }
    }

    .sectionTitle {
      display: none;
    }

    .suggestion {
      & > div {
        float: left;
        position: relative;
        clear: both;
        width: 100%;
        padding: 6px 10px;
        cursor: pointer;
        box-sizing: border-box;
        
        @include tablet {
          border-left: 135px solid $lighter-gray;
        }
      }

      &:first-child > div:before {
        @include normal-text;
        display: block;
        box-sizing: border-box;
        font-weight: $bold-weight;
        padding-right: 8px;
        padding-bottom: 4px;
        color: #aaa;
        content: attr(data-group);
        
        @include tablet {
          position: absolute;
          left: -135px;
          text-align: right;
          width: 135px;
        }
      }

      img {
        float: left;
        width: 44px;
        height: 44px;
        margin-right: 10px;
      }

      div.venue {
        @include small-text;
        color: #aaa;
      }
    }

    .suggestionFocused {
      & > div {
        color: white;
        background-color: $primary-color;
        border-left-color: darken($primary-color, 7%);
      }

      &:first-child > div:before {
        color: rgba(white, 0.6);
      }

      div.venue {
        color: rgba(white, 0.6);
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
