@mixin SelectableLabel {
  .SelectableLabel {
    @include reset;
    @include focus;
    cursor: pointer;
    width: 100%;
    font-size: inherit;
    line-height: inherit;
    
    &:hover {
      color: $primary-color;
    }

    .group {
      @include small-text;
      padding-right: 8px;
      font-weight: $bold-weight;
      color: rgba($text-color, 0.5);
    }
    
    svg {
      box-sizing: content-box;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 3px;
      height: 100%;
    }

    &.tag, &.filter {
      @include normal-text;
      display: block;
      position: relative;
      padding: 4px 34px 4px 0;
      transition: padding 0.2s, color 0.2s, background-color 0.2s;
      line-height: $selectable-label-height;

      &.selected {
        background-color: $primary-color;
        padding: 4px 34px 4px 10px;
        border-radius: $border-radius;

        .group {
          color: rgba(white, 0.5);
        }

        svg {
          border-radius: 0 $border-radius $border-radius 0;
          background-color: rgba(black, 0.15);
        
          path {
            fill: white;
          }
        }
      }
    }
    
    &.filter {
      &.selected {
        color: white;
        
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
    
    &.tag {
      padding: 4px 10px;
      background-color: $lighter-gray;
      border-radius: $border-radius;
      
      &:hover {
        color: white;
        background-color: $primary-color;
        
        .group {
          color: rgba(white, 0.5);
        }
      }
      
      &.selected {
        background-color: darken($lighter-gray, 7%);

        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
}
