@mixin SelectionList {
  .SelectionList {
    @include reset;
    @include no-bullets;
    @include links;
    transition: color 0.2s;

    &.grid li {
      @include with-layout('', true) {
        @include grid-no-gutter;
      }
    }
    
    &.inline li, &.commaSeparated li {
      display: inline-block;
      margin: 0 2px 2px 0;
    }
    
    &.commaSeparated li:not(:last-child) .SelectableLabel:after {
      content: ',';
      margin-right: 0.15em;
    }

    .clear .SelectableLabel {
      padding-left: 0;

      &.selected {
        color: $text-color;
        background-color: transparent;
        &:hover {
          color: gray;
        }

        svg {
          background-color: transparent;

          polygon, path {
            fill: $light-gray;
          }
        }
      }
    }
  }
}
