@mixin ShareLinks {
  .ShareLinks {
    ul {
      @include no-bullets;

      li {
        display: inline-block;
        margin-right: 14px;
        color: $text-color;

        &:last-child {
          margin-right: 0;
        }

        a, span {
          @include reset;
          @include small-text;
          font-weight: $bold-weight;
          display: inline-block;
          margin-right: 8px;
          cursor: pointer;
          text-decoration: none;
          color: $primary-color;
          transition: color 0.2s;

          &:hover {
            color: darken($primary-color, 20%);
          }

          &:visited {
            color: $primary-color;
          }

          &:last-child {
            margin-right: 0;
          }

          svg {
            width: 18px;
            position: relative;
            top: 4px;
          }
        }
      }
    }

    &:not(.noTint) {
      a, span {
        &:hover {
          svg {
            path, ellipse, polygon {
              fill: darken($primary-color, 20%);
            }
          }
        }
      }
  
      svg {
        path, ellipse, polygon {
          transition: fill 0.2s;
          fill: $primary-color;
        }
      }
    }
  }
}
