@mixin StaticMap {
  .StaticMap {
    @include links;
    position: relative;
    
    a {
      @include focus;
      position: relative;
      width: 100%;
      padding-bottom: 75%;
      display: block;
      background-color: rgba($text-color, 0.1);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
    }
    
    .MapMarker {
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }
}
