// Colors
$primary-color: #146Bff;
$text-color: #474747;
$medium-gray: #999999;
$light-gray: #a6a6a6;
$lighter-gray: #eeeeee;
$lightest-gray: #f8f7f5;

// Font faces
$body-font: 'Source Sans Pro';
$heading-font: $body-font;

// Font weights
$normal-weight: normal;
$bold-weight: bold;

// Font sizes
$font-sizes: (
  smallest: 10px,
  smaller:  12px,
  small:    14px,
  normal:   16px,
  medium:   18px,
  large:    24px,
  larger:   30px,
  largest:  45px
);

$line-heights: (
  smallest: 17px,
  smaller:  19px,
  small:    21px,
  normal:   22px,
  medium:   25px,
  large:    30px,
  larger:   38px,
  largest:  55px
);

// Borders
$border-width: 2px;
$border-color: $lighter-gray;
$border-radius: 0;

// Breakpoints
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1160px;

$susy: (
  columns: 12,
  gutters: 1/4,
);

// Layouts
$mobile-layout: (
  container: 90%
);

$tablet-layout: (
  container: 95%
);

$desktop-large-layout: (
  container: 1100px
);

// EventListItem
$event-list-item-ratio: 6/5;

// SelectableLabel
$selectable-label-height: 24px;

// HeadingBlock
$heading-block-color: $medium-gray;

// MapMarker
$map-marker-event-width: 200px;
$map-marker-event-spacing: 6px;
